.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
}

.carousel-indicators .active {
    background-color: black;
}
.carousel-indicators [data-bs-target]:not(.active) {
    background-color: black !important;
}

.image-container {
    margin-top: 95px;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
}
.half {
    flex-basis: 50%;
    border: 1px solid black;
}

.image-content {
    margin-right: 50px;
    padding: 25px;
    background-color: #eceaea;
}

.event-details {
    margin-left: 50px;
    padding-right: 20px;
    padding-left: 110px;
    padding-top: 8%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    color: black;
    background-color: #eceaea;
}
.more {
    margin-top: 20px;
    font-weight: 500;
    width: 120px;
    font-size: 18px;
    padding:5px;
    border: 1px solid black;
    background-color: #f2f2f2;
    box-shadow: 4px 8px 0 0 rgba(0, 0, 0, 0.7);
    transition: box-shadow 0.4s, background-color 0.3s;
}
.more:hover {
    box-shadow: none;
    background-color: white;
}
