.block {
    margin: 0;
    padding: 0 15% 0;
}

.empty-space {
    margin-top: 100px;
}

.grid-header {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.grid-title {
    font-weight: 900;
    font-size: 28px;
    line-height: 32px;
    text-transform: uppercase;
    color: #17181C;
}

.grid-header-half {
    flex: 0 0 auto;
    width: 50%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding: 0;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 1rem;
    margin-top: calc(1.5 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.grid-item {
    position: relative;
    width: 100%;
    height: 450px;
    padding-bottom: 100%;
    overflow: hidden;
    background: #F7F6F7;
}

.box-title {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    font-weight: 800;
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    color: #17181C;
}

.box-location {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #17181C;
    float: left;
    margin-bottom: 20px;
    margin-right: auto;
}

.box-container {
    padding: 15px;
}

.img-date-box {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.box-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.box-date {
    font-size: 14px;
    padding: 6px 12px;
    background: #F7F6F7;
    font-weight: 500;
    color: #17181C;
    float: left;
    top: 16px;
    right: 16px;
    position: absolute;
}

.line {
    width: 70px;
    border: none;
    border-top: 4px solid #000000;
    font-weight: bold;
    opacity: 1.0;
}

.black-btn {
    background: transparent;
    border: 1px solid #17181C;
    font-weight: 700;
    text-transform: uppercase;
    color: #17181C;
    position: relative;
    float: right;
}

.black-btn-big {
    font-size: 14px;
    line-height: 20px;
    padding: 12px 32px;
}

.black-btn-small {
    font-size: 12px;
    line-height: 18px;
    padding: 8px 30px;
}

.filters {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    justify-items: left;
    margin-bottom: 40px;
    padding-top: 50px;
}

.price, .city, .date {
    padding: 5px 5px 5px 8px;
    margin-right: 35px;
    font-size: 17px;
    color: #4b4a4a;
    border: 1px solid black;
    margin-bottom: 10px;
    width: 155px;
}

.btn {
    color: white;
    background-color: black;
    border-radius: 0;
    text-transform: uppercase;
    padding: 5px 14px;
    font-size: 17px;
    width: 130px;
    margin-bottom: 10px;
}

.search {
    margin-right: 25px;
}

@media (max-width: 768px) {
    .btn {
        padding: 2px 10px;
        margin-left: 15px;
        font-size: 12px;
    }

    .price, .city, .date {
        padding: 2px 2px 2px 5px;
        margin-right: 25px;
        font-size: 12px;
    }
    .box-title {
        padding-top: 15px;
        padding-right: 15px;
        padding-bottom: 10px;
        font-size: 14px;
        line-height: 20px;
    }
    .btn {
        padding: 3px 10px;
        font-size: 13px;
        width: 100px;
        margin-bottom: 7px;
    }

    .black-btn-big {
        font-size: 12px;
        line-height: 15px;
        padding: 8px 26px;
    }

    .black-btn-small {
        font-size: 10px;
        line-height: 12px;
        padding: 5px 24px;
    }

    .grid-title {
        font-size: 22px;
        line-height: 28px;
    }
}

@media (max-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 25px;
    }
}


